<hr />
<div class="po-page-header-title">Tarefas</div>

<hr />

<div>
  <po-page-dynamic-table
    [p-auto-router]="true"
    [p-concat-filters]="true"
    [p-keep-filters]="true"
    p-title="Tarefasssss"
    [p-actions]="actions"
    [p-actions-right]="actionsRight"
    [p-table-custom-actions]="tableCustomActions"
    [p-fields]="fields"
    [p-quick-search-width]="quickSearchWidth"
    [p-load]="onLoad.bind(this)"
  >
  </po-page-dynamic-table>
  <!-- [p-service-api]="serviceApi" -->

  <po-modal #userDetailModal p-title="User Detail">
    <po-dynamic-view [p-fields]="detailFields" [p-value]="detailedTask">
    </po-dynamic-view>
  </po-modal>
</div>
