<div id="task">
  <po-page-list
    #poPageList
    p-title="Histórico de Tarefas"
    [p-actions]="actions"
    [p-disclaimer-group]="disclaimerGroup"
    [p-filter]="filterSettings"
  >
    <po-table
      [p-selectable]="true"
      [p-single-select]="false"
      [p-sort]="true"
      [p-striped]="true"
      [p-columns]="doneProcessesColumns"
      [p-items]="doneProcessesFiltered"
    >
    </po-table>
  </po-page-list>

  <po-modal
    #advancedFilterModal
    p-title="Filtro Avançado"
    [p-primary-action]="advancedFilterPrimaryAction"
  >
    <form #f="ngForm">
      <po-multiselect
        name="taskDescription"
        [(ngModel)]="taskDescription"
        p-label="Selecione o Status da Tarefa"
        [p-options]="taskDescriptionOptions"
        [p-hide-search]="true"
        [p-hide-select-all]="true"
      >
      </po-multiselect>

      <po-multiselect
        name="categoryDescription"
        [(ngModel)]="categoryDescription"
        p-label="Selecione a Categoria da Tarefa"
        [p-options]="categoryDescriptionOptions"
        [p-hide-search]="true"
        [p-hide-select-all]="true"
      >
      </po-multiselect>
    </form>
  </po-modal>
</div>
